.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111827;
  color: #fbbf24;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fbbf24;
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  color: #fbbf24;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.nav-link:hover {
  color: #fcd34d;
}

.btn-logout {
  background: none;
  border: none;
  cursor: pointer;
  color: #fbbf24;
  font-weight: 500;
}

.btn-logout:hover {
  color: #fcd34d;
}
